body{
    font-family: "Oswald", sans-serif;
    margin:0;
}

/* Header */
header{
    background-color: #a8b5c1;
    padding: 1rem 20px;
}
 header span {
    color: #3c3f4a;
    font-size: 1.8rem;
    font-weight:700;
}


/* Navigation */
nav{
    background-color: #e3e6ea;
}
nav ul{
    margin:0;
    padding:0 10px;
    list-style-type: none;
display:flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #3c3f4a;
    font-weight: 700;
}

nav li.active a {
    background-color:#3c3f4a;
    color: #e3e6ea;
}

nav a:hover {
    color: white;
}

/* Main Content */
main {
    padding: 1rem 10px;
}

main h1 {
    color:#312a44;
}
main h2 {
    color:#3c3f4a;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}
main dl dt {
    color: #312a44;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
    color:#3c3f4a;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height:  125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    Font-weight: 700;
    color: black;
}

main em {
    font-weight:300;
}
main address {
    font-style: normal;
    background-color: #8b8098;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #3c3f4a;
    width: 200px;
}
main a {
    color: #735f82;
}
main a:hover {
    color: #1c1b20;
}
/* Images */
figure.bts {
    margin: 0 0 0 10px;
    width: 40%;
    float: right; 
}
figure.bts img {
    width: 100%;
    height: auto;
}
figure.bts figcaption {
    text-align: center;
    font-size: .75rem;
}
/* Gallery */
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}
div.gallery figure {
    margin: 0;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
    color: #a8b5c1;
}
/* Footer */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
}
footer p {
    margin: 0;
    font-size: .9rem;
    color: #333;
    letter-spacing: 3px;
}